# Logs
logs/
*logs
*.log
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
*pnpm-debug.log*
*lerna-debug.log*

*node_modules
*dist
*dist-ssr
*.local

# Editor directories and files
*.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
*.env
*.env.*
.env.local
.env.*.local

# Frontend (React)
frontend/build/
frontend/.cache/
frontend/coverage/
frontend/.parcel-cache/
frontend/.next/
frontend/.env.local
frontend/.env.* 

# Auth (MERN)
auth-proxy-server/.env
auth-proxy-server/.env.local
auth-proxy-server/.env.*
auth-proxy-server/uploads/
auth-proxy-server/uploads/** 
auth-proxy-server/.cache/
auth-proxy-server/coverage/
auth-proxy-server/.next/
auth-proxy-server/.parcel-cache/

# API (Node.js)
api/.env
api/.env.local
api/.env.*
api/pids/
api/logs/
api/tmp/
api/coverage/
api/build/
api/.parcel-cache/

# Backend (Node.js)
backend/.env
backend/.env.local
backend/.env.*
backend/pids/
backend/logs/
backend/tmp/
backend/coverage/
backend/build/
backend/.parcel-cache/

# Google Contacts Service
client_secret*
google-contacts-service/certs/*

# Testing
.coverage
.pytest_cache/
htmlcov/

# Docker
*.tar

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg